# Игнорировать временные файлы и каталоги
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Игнорировать файлы и директории, созданные Node.js
node_modules/

# Игнорировать файлы и директории, созданные Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы и директории, созданные Java
target/
*.class

# Игнорировать файлы и директории, созданные для разработки на Java с использованием Maven
log/
target/
.idea/
*.iml

# Игнорировать файлы и директории, созданные для разработки на PHP
vendor/
composer.phar
composer.lock
.env

# Игнорировать файлы и директории, созданные для разработки на Ruby
Gemfile.lock
.bundle/

# Игнорировать файлы и директории, созданные для разработки на Go
bin/
*.exe

# Игнорировать файлы и директории, созданные для разработки на C#
bin/
obj/
*.user
*.suo
*.dll
*.exe
.vscode/

# Игнорировать файлы и директории, созданные для разработки на Android
build/
app/build/

# Игнорировать файлы и директории, созданные для разработки на iOS
build/
*.xcodeproj/
*.xcworkspace/

# Игнорировать файлы и директории, созданные для разработки на Swift
.DS_Store
build/
DerivedData/
